h1 {
  font-size: 24px;
  font-weight: 700;
}
h2 {
  font-size: 22px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 600;
}
h4 {
  font-size: 16px;
  font-weight: 600;
}
.fullscreen-height {
  height: 100vh;
}
.text-primary {
  color: #409EFF;
}
